* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

hr {
    border-top: 2px dashed rgb(27, 29, 29);
}

hr .solid {
    border: 3px solid  rgb(27, 29, 29);
}

.top-header {
    padding: 0px;
    background-color:  rgb(31,34,43);
    color: white;
    margin-left: 120px;
    margin-right: 865px;
    padding: 0;
}

.topnav{
    overflow: hidden;
    background-color: rgb(31,34,43);
    color: white;
    padding-left: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.topnav a{
    float:left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

.print-area {
    width: 80%;
    margin-top: auto;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

.print-area .header {
    width: 100%;
    height: 150px;
    background-color: rgb(31,34,43);
    display: flex;
    align-items: center;
    position: relative;
}


.header img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 3px 3px 10px rgba(0,0,0,0..5);
    position: absolute;
    top: 50px;
    left: 45px;
    cursor: pointer;
    transition: .5s;
    user-select: none;
}

.header img:hover {
    filter: grayscale(0%);
    transform: scale(1.05);
    box-shadow: 3px 3px 10px rgba(0,0,0,0..5);
}

.header-text {
    color: white;
    width: 60%;
    margin-left: 370px;
}

.header-text h1 {
    font-size: 50px;
    font-weight: normal;
    text-align: left;
    float: left;
}

.content {
    display:flex;
    flex-wrap: wrap;
}

.left-area {
    width: 35%;
    text-align: right;
}

.left-area .profile {
    margin-top: 190px;
    padding: 0 50px;
    color: rgb(87,83,83);
}

.profile h2 {
    font-size: 30px;
    font-weight: normal;
    margin: 30px 0;
    color: rgb(87,83,83);
}

.profile h3 {
    font-size: 18px;
    margin: 10px 0;
    color: rgb(87,83,83);
}

.profil p {
    font-size: 17px;
    color: rgb(87,83,83);
}

.left-area .certification {
    margin-top: 50px;
    padding: 0 50px;
    color: rgb(87,83,83);
}

.certification h2 {
    font-size: 30px;
    font-weight: normal;
    margin: 30px 0;
    color: rgb(87,83,83);
}

.certification h3 {
    font-size: 18px;
    margin: 10px 0;
    color: rgb(87,83,83);
}

.certification p {
    font-size: 17px;
    color: rgb(87,83,83);
}

.left-area .contact {
    margin-top: 50px;
    padding: 0 50px;
    color: rgb(87,83,83);
}

.contact h2 {
    font-size: 30px;
    font-weight: normal;
    margin: 30px 0;
    color: rgb(87,83,83);
}

.content .left-area ul li {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
  }

.content .left-area .contact ul li .icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 210px;
    border: 5px solid rgba(255, 255, 255, 0.219);
    box-shadow: 3px 3px 10px rgba(0,0,0,0..5);
    position: absolute;
  }

.contact .data1 {
    font-size: 18px;
    margin-top: 30px;
    margin-left:70px;
    color: rgb(87,83,83);
    font-weight:normal;
}

.contact .data2 {
    font-size: 18px;
    margin-top: 13px;
    margin-left: 65px;
    color: rgb(87,83,83);
    font-weight:normal;
}

.contact .data3 {
    font-size: 18px;
    margin-top: 25px;
    margin-left: 20px;
    color: rgb(87,83,83);
    font-weight:normal;
}


.left-area .social {
    margin-top: 50px;
    padding: 0 50px;
    color: rgb(87,83,83);
}

.content .left-area .social ul li .icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 220px;
    border: 5px solid rgba(255, 255, 255, 0.219);
    box-shadow: 3px 3px 10px rgba(0,0,0,0..5);
    position: absolute;
  }

.social .data4 {
    font-size: 18px;
    margin-top: 20px;
    margin-left: 120px;
    color: rgb(87,83,83);
    font-weight:normal;
}

.social .data5 {
    font-size: 18px;
    margin-top: 25px;
    margin-left: 100px;
    color: rgb(87,83,83);
    font-weight:normal;
}


.right-area {
    width:65%;
}

.title p {
    font-size: 22px;
    font-weight: normal;
    margin: 30px 0;
    text-transform: uppercase;
    color: rgb(87,83,83);
}

.experience-work h2 {
    font-size: 30px;
    font-weight: normal;
    margin: 30px 10px;
    color: rgb(87,83,83);
    padding-top: 25px;
}

.timeline {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.experience-work .timeline {
    padding: 10px;
}

.work-company {
    font-size: 18px;
    color: rgb(87,83,83);
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0;
    padding-bottom: 0;
}

.work-title {
    font-size: 18px;
    color: rgb(87,83,83);
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
}

.para {
    font-size: 17px;
    color: rgb(87,83,83);
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0;
    padding-bottom: 0;
}

.description {
    font-size: 17px;
    color: rgb(87,83,83);
    text-transform: none;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
    padding-right: 5px;
}

.education h2 {
    font-size: 30px;
    font-weight: normal;
    margin: 30px 10px;
    color: rgb(87,83,83);
    padding-top: 25px;
}

.education .timeline {
    padding: 10px;
}

.education-institution {
    font-size: 18px;
    color: rgb(87,83,83);
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0;
    padding-bottom: 0;
}

.education-title {
    font-size: 18px;
    color: rgb(87,83,83);
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0;
    padding-bottom: 0;
}


.skill h2 {
    font-size: 30px;
    font-weight: normal;
    margin: 30px 10px;
    color: rgb(87,83,83);
    padding-top: 25px;
}

.timeline2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.professional-skill .timeline2 {
    padding: 10px;
}

.skill .left-content ul li {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    padding: 0px;
  }

.left-content .professional-skill {
    padding-top: 10px;
    padding-left: 10px;
    color: rgb(87,83,83);
}

.professional-skill ul {
    padding-top: 5px;
}

.professional-skill {
    font-size: 17px;
    color: rgb(87,83,83);
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    text-align: justify;
    padding-left: 10px;
}

.professional-skill ul li{
    padding: 5px;
}

.professional-skill h3 {
    font-size: 18px;
    color: rgb(87,83,83);
    margin-top: 5px;
    text-align: justify;
}

.professional-skill p {
    font-size: 16px;
    color: rgb(87,83,83);
    text-align: left;
    margin: 0;
    padding: 0;
}

.skill .right-content ul li {
    display: flex;
    margin-bottom: 10px;
    align-items: left;
  }

.right-content .personal-skill {
    padding-top: 10px;
    padding-left: 10px;
    color: rgb(87,83,83);
}

.personal-skill .timeline2 {
    padding: 10px;
}

.skill .right-content ul li {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    padding: 0;
  }

.right-content .personal-skill {
    padding-top: 10px;
    padding-left: 5px;
    color: rgb(87,83,83);
}

.professional-skill ul {
    padding-top: 5px;
}

.personal-skill {
    color: rgb(87,83,83);
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    text-align: left;
    padding-left: 5px;
}

.personal-skill ul {
    padding-top: 5px;
}

.personal-skill ul li{
    padding: 5px;
}

.personal-skill h3 {
    font-size: 18px;
    color: rgb(87,83,83);
    margin-top: 10px;
    text-align: justify;
}

.personal-skill p {
    font-size: 16px;
    color: rgb(87,83,83);
    text-align: left;
    margin: 0;
    padding: 0;
}

.dot1 {
    height: 15px;
    width: 15px;
    background-color: rgb(10, 87, 33);
    border-radius: 50%;
    display: inline-block;
    text-align: justify;
}

.dot2 {
    height: 15px;
    width: 15px;
    background-color: rgb(60, 163, 91);
    border-radius: 50%;
    display: inline-block;
    text-align: justify;
}

.personal-skill .timeline2 {
    padding-top: 5px;
}

.professional-skill li {
    list-style:none;
}

.personal-skill li {
    list-style:none;
}

.skill .timeline .left-content .professional-title .p .dot {
    margin-right: 100px;
    padding-right: 100px;
}

.skill .timeline .right-content .personal-title .p .dot {
    margin-right: 100px;
    padding-right: 100px;
}


.footer {
    width: 60%;
    margin-top: 300px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}



form {
    width: 500px;
    margin: auto;
    padding: 20px;
    background:rgb(240, 233, 176);
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(27, 29, 29);
}

.form-title h2 {
    padding-bottom: 10px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #45a049;
}

input[type=submit]:hover {
    background-color: #45a049;
}

select {
    font-size: 18px;
    padding: 5px;
    background: #e0d3e0;
}
